<%= form_with(model: webhook, class: "needs-validation", novalidate: true) do |form| %>
  <% if webhook.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(webhook.errors.count, "error") %> prohibited this webhook from being saved:</h4>
      <ul>
        <% webhook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless webhook.persisted? %>
    <div class="form-group">
      <%= form.label :customer_id, class: "font-weight-bold" %>
      <%= form.select :customer_id, options_for_select(Customer.pluck(:name, :id), webhook.customer_id), { disabled: true }, class: "form-control custom-select custom-select-arrow" %>
    </div>
    <div class="form-group">
      <%= form.label :document_id, class: "font-weight-bold" %>
      <%= form.select :document_id, options_for_select([["", ""]] + Document.all.map { |d| [d.description, d.id] }, webhook.new_record? ? "" : webhook.document_id), {}, class: "form-control custom-select custom-select-arrow" %>
    </div>
  <% else  %>
    <div class="form-group">
      Customer: <%= webhook.customer.name %>
      <hr>
      Document: <%= webhook.document.description %>
    </div>

  <% end %>

    <hr>



  <div class="form-group">
    <p>If you are subscribing to a document that you do not currently have in your application, you may provide a token if you wish, or leave blank and one will be generated for you. </p>
    <p>If you are subscribing for updates to a document that you already have in your application, you must provide a token which will uniquely identify this document in your system</p>
    <%= form.label :token, class: "font-weight-bold" %>
    <%= form.text_field :token, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <% path = webhook.id.present? ? webhook_path : webhooks_path %>
    <%= link_to "Cancel", path, class: "btn btn-secondary" %>
  </div>
<% end %>


