<div id="<%= dom_id webhook %>">
  <p>
    <strong>Customer:</strong>
    <%= webhook.customer.name %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= webhook.document.description %>
  </p>

  <p>
    <strong>webhook endpoint:</strong>
    <%= webhook.customer.endpoint %>
  </p>
  <p>
    <strong>webhook token:</strong>
    <%= webhook.token %>
  </p>

</div>
