<% if notice.present? %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>



<div class="container">
  <h1>Webhooks</h1>

  <div id="webhooks">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th>URL</th>
          <th>Document</th>
          <th>Endpoint</th>
          <th>Token</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @webhooks.each do |webhook| %>
          <tr id="<%= dom_id webhook %>">
            <td><%= link_to "#{webhook.customer.name}", webhook.customer, class: "text-decoration-none" %> </td>
            <td><%= link_to "#{webhook.customer.url}", webhook.customer.url, class: "text-decoration-none" %> </td>
            <td><%= webhook.document.description %></td>
            <td><%= webhook.customer.endpoint %></td>
            <td><%= webhook.token %></td>
            <td><%= link_to 'Edit', edit_webhook_path(webhook), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New webhook", new_webhook_path, class: "btn btn-success" %>

  <%= render partial: 'menus/footer' %>
</div>