<%= form_with(model: customer, class: "card") do |form| %>
  <% if customer.errors.any? %>
    <div class="card-body bg-danger text-white">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :url, class: "form-label" %>
      <%= form.text_field :url, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :endpoint, class: "form-label" %>
      <%= form.text_field :endpoint, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :strategy, class: "form-label" %>
      <%= form.select :strategy, Customer.strategies.keys.map { |s| [s.humanize, s] }, {}, class: "form-control" %>
    </div>

    <% if customer.bucket? %>
      <div class="mb-3">
        <%= form.label :bucket, class: "form-label" %>
        <%= form.text_field :bucket, class: "form-control" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>

      <div>
        <% path = @customer.id.present?  ? customer_path : customers_path %>
        <%= link_to "Cancel", path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>