<div id="<%= dom_id document %>">
  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= document.expiry_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= document.link %>
  </p>

  <div>
    <img src="<%= document.link %>" alt="Document Image">
  </div>

</div>
