<div id="<%= dom_id document %>">
  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= document.expiry_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= document.link %>
  </p>

  <div>
    <img src="<%= document.link %>" alt="Document Image">
  </div>

  <h2>Webhooks</h2>
  <ul>
    <% document.webhooks.each do |webhook| %>
      <li>
        <%= link_to webhook.customer.name, webhook.customer %>
        (<%= link_to "Show", webhook %>)
      </li>
    <% end %>
  </ul>

</div>
