<div id="<%= dom_id document %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= document.description %></h5>
    <p class="card-text"><strong>Expiry date:</strong> <%= document.expiry_date %></p>
    <p class="card-text"><strong>Link:</strong> <%= document.link %></p>
    <img src="<%= document.link %>" alt="Document Image" class="img-fluid mb-3">
    <h6 class="card-subtitle mb-2 text-muted">Webhooks</h6>
    <ul class="list-group list-group-flush">
      <% document.webhooks.each do |webhook| %>
        <li class="list-group-item">
          <%= link_to webhook.customer.name, webhook.customer, class: "text-decoration-none" %>
          (<%= link_to "Show", webhook, class: "text-decoration-none" %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>