<div class="row">
  <h5 class="card-title">Document: <%= document.description %></h5>
  <div class="col-md-6">
    <div id="<%= dom_id document %>" class="card mb-3">
      <div class="card-body">

        <p class="card-text"><strong>Description:</strong> <%= document.description %></p>
        <p class="card-text"><strong>Expiry date:</strong> <%= document.expiry_date %></p>
        <p class="card-text"><strong>Link:</strong> <%= document.link %></p>

        <% if document.is_image? %>
          <p class="card-text"><strong> <%= link_to "Download", document.link %></strong></p>
          <img src="<%= document.link %>" alt="Document Image" class="img-fluid mb-3">
        <% else %>
          <%= link_to "Download Document", document.link, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Customers subscribed to this document (webhooks)</h6>
        <% if document.webhooks.empty? %>
        <% else %>
          <ul class="list-group list-group-flush">
            <% document.webhooks.each do |webhook| %>
              <li class="list-group-item">
                <%= link_to webhook.customer.name, webhook, class: "text-decoration-none" %>
                <%= webhook.customer.server_online? ? nil : "| Offline" %>
                <%= "| #{webhook.token}" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>